html{
    scroll-behavior:smooth;
}
body{
    background-color: rgb(51, 224, 255);
}
h1{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.contenedorComputador{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Inicio{
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color:rgb(3, 141, 165);
    animation: text 5s linear infinite;
    
}
@keyframes text{
    0%{
        filter:hue-rotate(0deg);
    }
    100%{
        filter:hue-rotate(360deg);
    }
}
.imagenes .Imagenes img{
    width: 500px;
    position: relative;
    
}

.foot .img1{
    width: 100px;
    height: 100px;
    position: relative;
    margin-top: -500px;
}

.foot{
    text-align: center;
    background-color: rgb(102, 136, 169);
    font-family:"Press Start 2P", cursive;
    color:rgb(37, 55, 73);
    padding: 10px;
}


